<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329093021915-00itto8n5dspl2dsvblbn0voeakras35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329093021915-00itto8n5dspl2dsvblbn0voeakras35</string>
	<key>API_KEY</key>
	<string>AIzaSyCZJrmwDzWHKtRsrkDpbLduxLXLhmp3aHo</string>
	<key>GCM_SENDER_ID</key>
	<string>329093021915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.web.innov8learningsolutions.unionconnect</string>
	<key>PROJECT_ID</key>
	<string>union-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>union-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329093021915:ios:63bbbab8a4b02bde</string>
	<key>DATABASE_URL</key>
	<string>https://union-connect.firebaseio.com</string>
</dict>
</plist>